<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equivalent="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
    </head>
    <body>

        {% for message in message %}
        <div classs="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%end for%}

        <h3>Create your account</h3>
        <form method="post" action="/signup">
            {% csrf-token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Create A Username (use only letters and numbers)" Required>
            </div>
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="Enter Your First Name" Required>
            </div>
            <div class="form-group">
                <label for="lname">First Name</label>
                <input type="text" class="form-control" id="lname" placeholder="Enter Your Last Name" Required>
            </div>
            <div class="form-group">
                <label for="email">First Name</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address" Required>
            </div>
            <div class="form-group">
                <label for="pass1">First Name</label>
                <input type="password" class="form-control" id="pass1" placeholder="Create Your Password" Required>
            </div>
            <div class="form-group">
                <label for="pass2">First Name</label>
                <input type="password" class="form-control" id="pass2" placeholder="Confirm Your Password" Required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>

    </body>
</html>